<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @label.name %>
</p>

<p>
  <strong>White list:</strong>
  <%= @label.white_list %>
</p>

<p>
  <strong>Order:</strong>
  <%= @label.order %>
</p>

<p>
  <strong>Uniqueness:</strong>
  <%= @label.uniqueness %>
</p>

<%= link_to 'Edit', edit_label_path(@label) %> |
<%= link_to 'Back', labels_path %>
