<%= render partial: 'shared/flash', locals: {flash: flash} %>

<h1><%= @project.name %></h1>

<div class="uk-grid">
  <div class="uk-width-large-3-4">
    <p class=""><%= simple_format h(@project.information) %></p>
    
    <p>n = <%= @project.records.count %></p>
  </div>
</div>


<table id="sortable_table" class="tablesorter uk-table uk-table-hover uk-table-striped">
  <thead>
    <tr>
      <th class="uk-text-center">ID</th>
      <th class="uk-text-center">Detail</th>
      <% @labels.each do |label| %>
        <th class="uk-text-center"><%= label %></th>
      <% end %>
      <th class="uk-text-center">Updated at</th>
      <th class="uk-text-center">Created at</th>
    </tr>
  </thead>

  <tbody>
    <% if @records.empty? %>
      <tr>
        <td class="uk-text-center" colspan="<%= @labels.size + 4 %>">
          No record
        </td>
      </tr>
    <% else %>
      <% @records.each do |record| %>
        <tr>
          <td class="uk-text-right"><%= record.id %></td>
          <td class="uk-text-center">
            <%= link_to project_record_path(@project, record), class: 'uk-button uk-button-default uk-button-small' do %>
              <i class="uk-icon-area-chart uk-icon-small"></i>
            <% end %>
          </td>
          <% @column_names.each do |column| %>
            <td class="uk-text-center"><%= record.send(column.to_sym) %></td>
          <% end %>
          <td class="uk-text-center"><%= record.updated_at.getlocal.strftime("%Y/%m/%d %H:%M") %></td>
          <td class="uk-text-center"><%= record.created_at.getlocal.strftime("%Y/%m/%d %H:%M") %></td>

        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>



<%= link_to 'Back', projects_path, class: 'uk-button uk-button-default' %>