<!DOCTYPE html>
<html>
<head>
  <title>Moyashi</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="uk-navbar uk-navbar-attached navbar-fixed">
  <%= link_to "Moyashi", root_path, class: 'uk-navbar-brand' %>

  <ul class="uk-navbar-nav">
    <% if @project.try(:id) %>
      <li class="uk-parent" data-uk-dropdown>
        <%= link_to project_path(@project) do %>
          Project: <%= @project.name.truncate(18) %>&nbsp;<i class="uk-icon-caret-down"></i>
        <% end %>

        <div class="uk-dropdown uk-dropdown-navbar">
          <ul class="uk-nav uk-nav-dropdown">
            <li>
              <%= link_to project_path(@project) do %>
                <i class="uk-icon-home"></i> Project home
              <% end %>
            </li>

            <li class="uk-nav-divider"></li>

            <li class="uk-nav-header">I/O</li>

            <li>
              <%= link_to project_new_record_path(@project) do %>
                <i class="uk-icon-plus-circle"></i> Import samples
              <% end %>
            </li>
            <li>
              <%= link_to project_exporter_path(@project) do %>
                <i class="uk-icon-floppy-o"></i> Export samples
              <% end %>
            </li>

            <li class="uk-nav-divider"></li>

            <li class="uk-nav-header">FOR ADMIN</li>

            <li>
              <%= link_to edit_project_path(@project) do %>
                <i class="uk-icon-cog"></i> Project settings
              <% end %>
            </li>
            <li>
              <%= link_to project_labels_path(@project) do %>
                <i class="uk-icon-cog"></i> Label management
              <% end %>
            </li>
            <li>
              <%= link_to project_destroy_samples_path(@project) do %>
                <i class="uk-icon-exclamation-triangle"></i> Delete samples
              <% end %>
            </li>
            <li>
              <%= link_to project_confirm_deleting_path(@project) do %>
                <i class="uk-icon-exclamation-triangle"></i> Delete project
              <% end %>
            </li>
          </ul>
        </div>
      </li>
    <% end %>

  
    <% if Moyashi::Analysis::Base.analyses.any? %>
      <li class="uk-parent" data-uk-dropdown>
        <%= link_to root_path do %>
          <i class="uk-icon-bar-chart"></i> Analysis&nbsp;<i class="uk-icon-caret-down"></i>
        <% end %>

        <div class="uk-dropdown uk-dropdown-navbar">
          <ul class="uk-nav uk-nav-dropdown">
            <% Moyashi::Analysis::Base.analyses.each do |name, klass| %>
              <li>
                <%= link_to name, analysis_path(name) %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
    <% else %>
      <li>
        <%= link_to root_path do %>
          <i class="uk-icon-bar-chart"></i> Analysis
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>

<div class="content-body">
  <%= yield %>
</div>

<footer>
  Powered by Moyashi (c) 2015 Satoshi Funayama
</footer>

</body>
</html>
